/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--font-raleway);
  font-size: 2.25rem;
}

.container {
  width: 1352px;
  margin: 0 auto;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
  }
}

.contact__column {
  width: 50%;
}
@media (max-width: 1024px) {
  .contact__column {
    width: 100%;
  }
}

.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}

.contact__instruction {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  color: var(--color-grey);
  align-items: center;
}

.details__item {
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}
.details__item:first-of-type {
  margin-right: 20px;
}
.details__item img {
  margin-right: 10px;
}

.col-1 {
  flex: 0 0 8.3333%;
}

.col-2 {
  flex: 0 0 16.6666%;
}

.col-3 {
  flex: 0 0 24.9999%;
}

.col-4 {
  flex: 0 0 33.3332%;
}

.col-5 {
  flex: 0 0 41.6665%;
}

.col-6 {
  flex: 0 0 49.9998%;
}

.col-7 {
  flex: 0 0 58.3331%;
}

.col-8 {
  flex: 0 0 66.6664%;
}

.col-9 {
  flex: 0 0 74.9997%;
}

.col-10 {
  flex: 0 0 83.333%;
}

.col-11 {
  flex: 0 0 91.6663%;
}

.col-12 {
  flex: 0 0 99.9996%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row [class^=col-] {
  min-height: 100px;
  padding: 0 8px;
}
@media (max-width: 767px) {
  .row [class^=col-] {
    flex-basis: 100%;
  }
}

.logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}

.nav__element {
  padding: 0 26px;
}
.nav__element:last-child {
  padding-right: 0;
}

.nav__link {
  color: var(--color-grey);
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
}
.nav__link:hover {
  color: var(--color-black);
  border-color: var(--color-primary);
}

.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.mobile-menu li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .mobile-menu li a {
    transition: 0.25s ease-in-out;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: grey;
    text-decoration: none;
    margin-left: 24px;
  }
}
.mobile-menu li a:hover, .mobile-menu li a.current {
  color: #2d2626;
}

.menu-btn {
  display: none;
}
.menu-btn:hover {
  background-color: #f4f4f4;
}
.menu-btn:checked ~ .menu {
  max-height: 240px;
  position: absolute;
  left: 0;
  top: 64px;
  right: 0;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu {
  clear: both;
  max-height: 0;
  position: absolute;
  transition: max-height 0.2s ease-out;
}

.menu-icon {
  cursor: pointer;
  display: contents;
  float: right;
  padding: 28px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 8px;
  left: 8px;
}
.menu-icon .navicon {
  background: var(--color-primary);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.menu-icon .navicon:before {
  background: var(--color-primary);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  top: 5px;
}
.menu-icon .navicon:after {
  background: var(--color-primary);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  top: -5px;
}

@media (min-width: 1024px) {
  .header {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    max-height: none;
    position: relative;
    background: transparent;
  }
  .header .menu-icon {
    display: none;
  }
}
.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__nav {
  display: flex;
}

:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: var(--button-radius);
  border: none;
}

.btn--primary {
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--redish {
  background-color: var(--color-redish);
}

.btn--green {
  background-color: var(--color-green);
}

.btn--large {
  padding: 22px 155px;
}
@media (max-width: 767px) {
  .btn--large {
    display: block;
    padding: 20px 20px;
    margin: 0 15px;
  }
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opening__content {
  margin-top: 130px;
  text-align: center;
}

.opening__header {
  font-family: var(--font-raleway);
  font-size: 3.0625rem;
}

.opening__heading {
  margin-top: 20px;
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  .opening__heading {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.opening__image {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .opening__image {
    width: 200%;
    transform: translateX(-26%);
  }
}

.statistics {
  margin-top: 100px;
}

.statistics__title {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.statistics__container {
  max-width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .statistics__container {
    justify-content: center;
  }
}

.statistics__single {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: var(--font-raleway);
}
.statistics__single:nth-child(1) .statistics__circle {
  background-color: var(--color-redish);
}
.statistics__single:nth-child(1) .statistics__img {
  top: 0;
  left: 45%;
}
.statistics__single:nth-child(2) .statistics__circle {
  background-color: var(--color-primary);
}
.statistics__single:nth-child(2) .statistics__img {
  top: 14px;
  left: 47%;
}
.statistics__single:nth-child(3) .statistics__circle {
  background-color: var(--color-green);
}
.statistics__single:nth-child(3) .statistics__img {
  top: 6px;
  left: 50%;
}

.statistics__circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
}

.statistics__img {
  position: absolute;
}

.statistics__number {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.1875rem;
  margin-top: 13px;
}

.statistics__description {
  color: var(--color-grey);
  margin-top: 19px;
}

.benefits {
  padding: 100px 0;
  background-color: var(--color-light-grey);
}
@media (max-width: 1024px) {
  .benefits {
    padding: 50px 0;
  }
}

.benefits__container {
  padding: 0 100px;
}
@media (max-width: 1024px) {
  .benefits__container {
    padding: 0 15px;
  }
}

.benefits__single {
  background-color: var(--color-white);
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .benefits__single {
    flex-direction: column-reverse !important;
    align-items: center;
    padding: 0 20px;
  }
}

.benefits__text {
  box-sizing: content-box;
  max-width: 415px;
  margin: 90px 36px;
}
@media (max-width: 1024px) {
  .benefits__text {
    margin: 30px 0;
    max-width: none;
  }
}
.benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .benefits__text::after {
    width: 100%;
  }
}

.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
}

.benefits__image {
  position: relative;
}
.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single--notebook {
  --accent-color: var(--color-redish);
}
.benefits__single--notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
}
@media (max-width: 1024px) {
  .benefits__single--notebook .benefits__image {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .benefits__image {
    margin: 50px 0 0;
  }
}
.benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}
@media (max-width: 1024px) {
  .benefits__image::before {
    width: 90px;
    height: 90px;
  }
}
.benefits__image img {
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 1024px) {
  .benefits__image img {
    width: 190px;
  }
}

.benefits__single--phone {
  --accent-color: var(--color-primary);
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}
@media (max-width: 1024px) {
  .benefits__single--phone {
    padding: 0 20px;
  }
}
.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}
@media (max-width: 1024px) {
  .benefits__single--phone .benefits__image::before {
    width: 130px;
    height: 130px;
  }
}
.benefits__single--phone .benefits__image img {
  width: 426px;
  height: auto;
}
@media (max-width: 1024px) {
  .benefits__single--phone .benefits__image img {
    width: 190px;
  }
}
.benefits__single--phone .benefits__text {
  margin: 70px 0;
}
@media (max-width: 1024px) {
  .benefits__single--phone .benefits__text {
    margin: 20px 0;
  }
}

.benefits__double {
  --accent-color: var(--color-green);
  display: flex;
}
@media (max-width: 1024px) {
  .benefits__double {
    flex-direction: column;
  }
}
.benefits__double > div {
  margin-bottom: 0;
}

.benefits__single--solo {
  max-width: 620px;
}
@media (max-width: 1024px) {
  .benefits__single--solo {
    max-width: none;
  }
}
.benefits__single--solo .benefits__text {
  max-width: none;
  margin: 70px 35px;
}
@media (max-width: 1024px) {
  .benefits__single--solo .benefits__text {
    margin: 20px 0;
  }
}

.benefits__single--image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: none;
  margin-left: 60px;
}
@media (max-width: 1024px) {
  .benefits__single--image {
    margin-left: 0;
  }
}
.benefits__single--image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}

.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 1352px) {
  .pricing__boxes {
    flex-direction: column;
  }
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
}
@media (max-width: 1352px) {
  .pricing__box {
    width: 100%;
    max-width: 370px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    padding: 25px 10px 0;
  }
}
.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background-color: var(--accent-color);
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1352px) {
  .pricing__details {
    width: 50%;
    margin: 0;
  }
}

.pricing__type {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__price {
  font-size: 2.875rem;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__items {
  text-align: center;
}
@media (max-width: 1352px) {
  .pricing__items {
    width: 50%;
    text-align: left;
  }
}

.pricing__item {
  font-size: 14px;
  margin-bottom: 20px;
}
.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Checkmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../assets/Close.svg");
}

.pricing__box--basic {
  --accent-color: var(--color-redish);
}
.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}

.pricing__box--professional {
  --accent-color: var(--color-primary);
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}
@media (max-width: 1352px) {
  .pricing__box--professional {
    max-width: 400px;
    width: 100%;
    margin: 0 0 50px;
  }
}
.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}
.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

.pricing__box--premium {
  --accent-color: var(--color-green);
}
@media (max-width: 1352px) {
  .pricing__box--premium {
    margin-bottom: 0;
  }
}

.footer {
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__copy {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  color: var(--color-grey);
  margin-top: 6px;
}

.footer__icons a:first-of-type {
  margin-right: 25px;
}

.form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .form {
    margin-top: 20px;
  }
}
.form__field {
  display: flex;
  flex-direction: column;
}
.form__field:first-of-type {
  margin-bottom: 42px;
}
.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: #08A6E4;
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}
.form__input {
  border: none;
  border-bottom: 1px solid #A5A5A5;
  background-color: transparent;
  line-height: 2.625rem;
}
.form__consent {
  margin-top: 30px;
}
.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}
.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form__checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #A5A5A5;
  border-radius: 4px;
}
.form__checkbox .consent__text {
  margin: 0 10px;
  font-size: 0.75rem;
  color: #A5A5A5;
  line-height: 17px;
}
.form .btn {
  font-size: 0.8125rem;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
}

.calc {
  padding: 80px 0;
  background-color: #F7F7F7;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .calc {
    padding: 30px 15px;
  }
}
.calc h2 {
  text-align: center;
}
.calc__columns {
  max-width: 865px;
  margin: 50px auto 0;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .calc__columns {
    display: block;
  }
}
.calc__form {
  width: 50%;
  margin-right: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .calc__form {
    width: 100%;
    margin-right: 0;
  }
}
.calc__input input, .calc__select .select__input {
  color: #A5A5A5;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #08A6E4;
  padding: 11px 20px;
  line-height: 1em;
  font-size: 0.8125rem;
  box-shadow: 0 3px 6px rgba(7, 172, 230, 0.16);
  margin-bottom: 20px;
  background-color: #ffffff;
}
.calc__input input::-moz-placeholder {
  color: #A5A5A5;
}
.calc__input input:-ms-input-placeholder {
  color: #A5A5A5;
}
.calc__input input::placeholder {
  color: #A5A5A5;
}
.calc__select {
  position: relative;
}
.calc__select .select__input {
  position: relative;
  height: 40px;
  vertical-align: middle;
  padding: 13px 20px;
  cursor: pointer;
}
.calc__select .select__input::after {
  content: "";
  background-image: url("../assets/Arrow.svg");
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 14px;
  top: 9px;
}
.calc__select .select__dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #FB3B64;
  overflow: hidden;
}
.calc__select .select__dropdown li {
  font-size: 13px;
  padding: 10px 20px;
  cursor: pointer;
}
.calc__select .select__dropdown li:hover {
  background-color: #F7F7F7;
}
.calc__select.open .select__input::after {
  transform: rotate(180deg);
}
.calc__select.open .select__dropdown {
  display: block;
}
.calc .form__checkbox .consent__text {
  padding-top: 4px;
}
.calc__summary {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .calc__summary {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
.calc__summary .summary__total,
.calc__summary .list__item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 0.875rem;
  display: none;
}
.calc__summary .summary__total.open,
.calc__summary .list__item.open {
  display: flex;
}
.calc__summary .summary__total {
  width: 50%;
  align-self: flex-end;
  margin-top: 22px;
  padding: 8px 20px;
  background-color: #08A6E4;
}
.calc__summary .summary__total .total__price {
  font-size: 1.25rem;
  font-weight: 700;
}
.calc__summary .list__item {
  padding: 6px 20px;
  background-color: #55DFB4;
  margin-bottom: 8px;
}
.calc__summary .list__item .item__price {
  font-weight: 700;
  font-size: 1.125rem;
}
/*# sourceMappingURL=main.css.map */
