

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: var(--button-radius);
  border: none;
}
.btn--primary {
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}
.btn--redish {
  background-color: var(--color-redish);
}
.btn--green {
  background-color: var(--color-green);
}
.btn--large {
  padding: 22px 155px;
  @include mobile {
    display: block;
    padding: 20px 20px;
    margin: 0 15px;
  }
}