&:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}
h2 {
  font-family: var(--font-raleway);
  font-size: 2.25rem;
}
.container {
  width: 1352px;
  margin: 0 auto;
}