.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.opening__content {
  margin-top: 130px;
  text-align: center;
}
.opening__header {
  font-family: var(--font-raleway);
  font-size: 3.0625rem;
}
.opening__heading {
  margin-top: 20px;
  margin-bottom: 38px;
  @include mobile {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.opening__image {
  width: 100%;
  height: auto;
  @include mobile {
    width: 200%;
    transform: translateX(-26%);

  }
}